{% extends 'base.html' %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>skstack-配置文件目录树</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
</head>


  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content">
       <div id="container"></div>
    </section>
  </div>


<script>

var json={{list|safe}};
$('#container').jstree({ 'core' : {
    'data' : json
} });
</script>
{% endblock %}
