
{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
{% endblock %}
{% block content %}
<div class="content-wrapper">


    <!-- Main content -->

    <section class="content">

<div id="dialog">
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
          <form action="{% url 'Project_edit' ids %}" method="post">
            {% csrf_token %}
            {{ tpl_Project_form.as_p }}
            <input type="hidden" name="id" value="{{ obj.id }}">
            <input type="submit" class="btn btn-primary" style="width: 60pt" value="保存">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-info backurl" style="width: 60pt" value="返回">
      
          </form>
      </div>
</div>

    </section>

  </div>

<script>
var demo1 = $('select[name="user_dep"]').bootstrapDualListbox({
      nonSelectedListLabel: '可选',
      selectedListLabel: '已选',
      preserveSelectionOnMove: 'moved',
      moveOnSelect: false,
});
</script>

<script>
$(".backurl").click(function(){
	 history.go(-1)
});
</script>
{% endblock %}


