

{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
{% endblock %}
{% block content %}
<div class="content-wrapper">


    <!-- Main content -->

    <section class="content">

<div id="dialog">
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
          <form action="{% url 'TaskCommit_add' ids %}" method="post">
            {% csrf_token %}
            {{ tpl_TaskCommit_form.as_p }}
            <input type="hidden" name="id" value="{{ obj.id }}">
            <input type="button" class="btn btn-info" style="width: 60pt"  onclick="taskcommit_checkstatus();taskcommit_check();" value="前置检查">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" id="submit" class="btn btn-danger" style="width: 60pt" value="提交" disabled="disabled">&nbsp;&nbsp;&nbsp;&nbsp;
      
          </form>
          
          <div class="box-footer with-border">前置任务检查状态栏
                
		          <div id="prog_out" class="progress">
		          <div id="prog_in" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
		          <span id="prog_percentage">0%</span>
		          </div>
		        </div>
		        
		        <div id="message_box"></div>
				</div>
      </div>
</div>

    </section>

  </div>
{#回传参数至父层#}
<script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name);
        var success = {{ status }};
        if ( success == '1' ) {
            parent.$("#handle_status").val('1');
            parent.layer.close(index);
        } else if( success == '2' ) {
            parent.$("#handle_status").val('2');
            parent.layer.close(index);
        }
</script>

<script type="text/javascript">
function taskcommit_checkstatus(){
	var obj_project=$("#id_project").val();
	var obj_env=$("#id_env").val();
	
	var sitv = setInterval(function(){	
		$.ajax({
			url:'/skdeploy/TaskCommit/checkstatus/',
			type:"POST",
			data:{project:obj_project,
				   env:obj_env,
				   
				   csrfmiddlewaretoken:'{{ csrf_token }}'},
			success:function(callback){
				var obj_json = jQuery.parseJSON(callback);
				message = obj_json["redis_chanel_message"]
				
				$("#message_box").text(message);
				$('#prog_in').width(obj_json["redis_chanel"] + '%');
				$("#prog_percentage").text(obj_json["redis_chanel"] + '%');
				console.log(message);
				if (message.indexOf("failed") != -1 ) {
					clearInterval(sitv);
					
			
				}
				
				if (obj_json["redis_chanel"] == "100" ) {
					clearInterval(sitv);
					$("#message_box").text("Congratulations! check success, You can submit now");
					$('#submit').removeAttr("disabled");
					$("#id_commit_id").attr("disabled","disabled")
					
				}
					
				
				
			}
		})
		
	},1000)
	
}
</script>

<script type="text/javascript">
function taskcommit_check(){
	var obj_project=$("#id_project").val();
	var obj_env=$("#id_env").val();
	var obj_project_id=$("#id_project_id").val();
	var obj_commit_id=$("#id_commit_id").val();
	$.ajax({
		url:'/skdeploy/TaskCommit/check/',
		type:"POST",
		data:{project:obj_project,
			   env:obj_env,
			   project_id:obj_project_id,
			   commit_id:obj_commit_id,
			   csrfmiddlewaretoken:'{{ csrf_token }}'},
		
		success:function(callback){
				var obj_json = jQuery.parseJSON(callback);									   
			   }
	});
}
</script>
<script>

$("#submit").click(function(){
	$("#id_commit_id").attr("disabled",false);
});
</script>
<script>
var demo1 = $('select[name="hosts_cus"]').bootstrapDualListbox({
      nonSelectedListLabel: '可选',
      selectedListLabel: '已选',
      preserveSelectionOnMove: 'moved',
      moveOnSelect: false,
});
</script>

{% endblock %}

