{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
{% endblock %}
{% block content %}

<div class="content-wrapper">

    <!-- Main content -->

    <section class="content">

<div id="dialog">
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
          <form action="{% url 'UserGroup_edit' ids %}" method="post">
            {% csrf_token %}
            {{ tpl_UserGroup_form.as_p }}
            <input type="hidden" name="id" value="{{ obj.id }}">
            <input type="submit" class="btn btn-primary" style="width: 60pt" value="保存">&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'UserGroup_index' %}"><li style="width: 60pt" class="btn btn-primary" value="">返回</li></a><br>
      
          </form>
      </div>
</div>

    </section>

    </div>

<script>
var demo1 = $('select[name="members"]').bootstrapDualListbox({
      nonSelectedListLabel: '可选择',
      selectedListLabel: '已选择',
      preserveSelectionOnMove: 'moved',
      moveOnSelect: false,
});
</script>

{% endblock %}

