{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>

{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="navi_form">
               <!--  {% csrf_token %} -->
            <div class="box">
                <div class="box-header">
                  <div class="col-sm-2">
						 <a href="{% url 'add' %}"><li class="btn btn-success" style="width: 60pt;font-size: medium" ><b>添加</b></li></a>
                  </div>
                  <div class="col-sm-5" style="padding-left: 0px">
                            <label>
                                <select name="online_type" class="form-control m-b input-sm" onchange="change_info()">
                                    <option value="">在线状态</option>
                                    {% for online in online_status %}
                                        {% ifequal online.0|int2str online_status %}
                                            <option value="{{ online.0 }}" selected> {{ online.1 }}</option>
                                        {% else %}
                                            <option value="{{ online.0 }}"> {{ online.1 }}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-striped table-bordered" id="dataform">
                      <thead>
                        <tr>
                           
                                    <th>名称</th>
                                    <th>注释</th>
                                    <th>URL</th>
                                    <th>Online</th>
                                  
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% if allnavi %}
                                {% for navi in allnavi %}
                                    <tr class="even gradeA">
                                       
                                        <td>{{ navi.name }}</td>
                                        <td>{{ navi.description }}</td>
                                        <td>{{ navi.url }}</td>
                                        <td>{{ navi.online_status }}</td>
                                       
                                        
                                        <td>
                                        <a href="{% url "edit" navi.id %}"><span class="btn btn-sm btn-info">编辑</span></a>
                                        <a href="{% url "delete" navi.id %}" onclick="return confirm('确认删除吗？？')"><span class="btn btn-sm btn-danger ">删除</span></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <p>No Item are available.</p>
                                {% endif %}

                            </tbody>
                  </table>

                </div>
            </div>
        </form>

    </section>
        <!-- /.content -->
      </div>
<input id="handle_status" value="" hidden="hidden">
<script>
function checkAll(sender, checkClass) {
    var checkItems = document.getElementsByTagName('input');
    for (var i = 0; i < checkItems.length; i++) {
        var checkItem = checkItems[i];
        if (checkItem.type === 'checkbox' && checkItem.className === 'item1') {
            checkItem.checked = sender.checked;
        }
    }
}
</script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
{#    $("#example1").DataTable();#}
    $('#dataform').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true
    });
  });
</script>
<script>
function change_info(){
    var args = $("#navi_form").serialize();
    /* alert args; */
    window.location = "{% url 'manage' %}?" + args
}
function checkSubmit() {
    if (!confirm("确定删除？")) {
        window.event.returnValue = false;
    }
}
</script>
<script>
function tanchu(n){
    layer.open({
    type: 2,
    title: '修改信息',
    closeBtn: 1,
    area: ['600px', '400px'],
    shadeClose: true, //点击遮罩关闭
    content: ['/skdomain/edit?id=' + n,],
    end:function(){
            var handle_status = $("#handle_status").val();
            if ( handle_status == '1' ) {
                layer.msg('保存成功！',{
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            } else if ( handle_status == '2' ) {
                layer.msg('修改失败！',{
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            }
        }
  });
}
</script>
{% endblock %}
