{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
{% endblock %}
{% block content %}


<div class="content-wrapper">
    <section class="content-header">
        <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>{{ tips }}</h4>
        </div>
    </section>

    <section class="content">

        <div id="dialog">
            <div class="box" id="devops">
               <div class="box-body">
            <form action="{% url 'platformclass_edit' ids %}" method="post">
              {% csrf_token %}
              {{ platformclassforms.as_p }}
              <input type="submit" class="btn btn-primary" style="width: 60pt" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{% url 'list' %}"><li style="width: 60pt" class="btn btn-primary" value="">返回</li></a><br>
            </form>
               </div>
            </div>

        </div>

    </section>
</div>



{% endblock %}
