{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}

{% endblock %}


{% block content %}

    <!-- Content Header (Page header) -->

<div class="content-wrapper">
    <section class="content-header">
    </section>


    <section class="content">

 {% for key,value in d1.items %}
     <div class = "col-md-3">
       <div class = "box box-solid box-info">
         <div class = box-header>
          <h3 class="box-title">{{key}}</h3>
         </div>
         <div class = "box-body">
           {% for v in value %}
           <p><a href="{{v.1}}">{{ v.0 }}</a></p>
           {% endfor %}
         </div>
       </div>
      </div>
    {% endfor %}

    </section>


</div>
<script>

</script>



{% endblock %}
