{% extends 'base.html' %}
{% block content %}
<style>
 displays{ display:inline}
/* 4个css简写简写 作用：共用display:inline样式 */
 .center {
  position: fixed;
  left: 50%;
  background-color: #000;
  width:50%;
  height: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
}
</style>


<div class="content-wrapper">
    <section class="content-header">
        <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>{{ tips }}</h4>
        </div>
    </section>

    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
           <h1 align="center">运维公告</h1>
    <p align="center">SVN申请流程：本人邮件申请，系统责任人审批，沈志龙执行，邮箱：zhilong.shen@mljr.com</p>
    <p align="center">VPN与上网账号申请流程：本人邮件申请，系统责任人审批，钱万龙执行，邮箱：wanlong.qian@mljr.com</p>
    <p align="center">Git账号/数据库平台账号申请流程：本人邮件申请，系统负责人审批，运维创建账号,运维邮箱：szyw@mljr.com</p>
    <p align="center">&nbsp;</p>
    <p align="center">&nbsp;</p>
    <!-- Content Header (Page header) -->
<div name="运维职责表" class="row,displays" >
	  <div class="col-xs-12 col-lg-6">
        <h2 style="text-align:center;font-size:20px" class="list-group-item active"><strong>深圳运维职责表</strong></h2>
        <div class="list-group-item" data-example-id="simple-table">
		<table class="table table-hover">
		  <thead>
			<tr>
			  <th>运维负责人</th>
			  <th>业务线分工</th>
			  <th>运维系统分工</th>
			  <th>第二负责人</th>
			</tr>
		  </thead>
		  <tbody>
                      <tr>
                        <th>{{ name }}</th>
                        <th> {% for busines in yw.businessline.all %}
                                                 {{ busines }}
                             {% endfor %}</th>
                        <th>{% for job in yw.jobclass.all %}
                                                 {{ job }}
                             {% endfor %}</th>
                        <th>{{ secondaryname }}</th>
                      </tr>
		  </tbody>
			</table>
			</div>
    </div>
    </div>
    </section>
 </div>
{% endblock %}
