<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
    <style>
        .content-wrapper {
            margin-left: 0;
        }

        .col-sm-6 {
            width: 50%;
            float: left;
        }
    </style>
</head>
<body>
<div class="content-wrapper">


    <section class="content">

        <div id="dialog">
            <div class="box box-info">
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="{% url 'monitor_groupedit' ids %}" method="POST">
                    {% csrf_token %}
                    {{ af.as_p }}
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-left" style="width: 120px"><b>保存</b></button>
                    </div>
                </form>
            </div>
        </div>


    </section>

</div>
{#回传参数至父层#}
<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);
    var success = {{ status }};
    if (success == '1') {
        parent.$("#handle_status").val('1');
        parent.layer.close(index);
    } else if (success == '2') {
        parent.$("#handle_status").val('2');
        parent.layer.close(index);
    }
</script>
<script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
<script>
    var demo1 = $('select[name="user"]').bootstrapDualListbox({
        nonSelectedListLabel: '可选择',
        selectedListLabel: '已选择',
        preserveSelectionOnMove: 'moved',
        moveOnSelect: false,
    });
</script>
</body>
</html>