{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>{{ tips }}</h4>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="dialog">
                <div class="box">
                    <form class="form-horizontal" action="{% url 'monitor_setuplist' %}" method="POST">
                        {% csrf_token %}
                        <div class="box-body">
                            <hr>
                            <p><b>全局设置:</b></p>
                            <div class="form-group">
                                <label for="weixin_status" class="col-sm-2 control-label">微信状态:</label>
                                <div class="col-sm-10">
                                    {{ af.weixin_status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email_status" class="col-sm-2 control-label">邮件状态:</label>
                                <div class="col-sm-10">
                                    {{ af.email_status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sms_status" class="col-sm-2 control-label">短信状态:</label>
                                <div class="col-sm-10">
                                    {{ af.sms_status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dd_status" class="col-sm-2 control-label">钉钉状态:</label>
                                <div class="col-sm-10">
                                    {{ af.dd_status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tel_status" class="col-sm-2 control-label">电话状态:</label>
                                <div class="col-sm-10">
                                    {{ af.tel_status }}
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" onclick="checkSubmit()" class="btn btn-info pull-left"
                                    style="width: 120px"><b>保存</b></button>
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <script>
        function checkSubmit() {
            if (!confirm("确定修改？")) {
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}
