{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="dialog">
                <div class="box">
                    <form class="form-horizontal" action="{% url 'config_save' %}" method="POST">
                        {% csrf_token %}
                        <div class="box-body">
                            <hr>
                            <p><b>全局设置</b></p>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">微信状态:</label>
                                <div class="col-sm-10">
                                    <select name="log_level" class="form-control" style="width:450px;">
                                        <option value="{{ log_level }}" selected="selected"> {{ log_level }}</option>
                                        {% for key,value in all_level.items %}
                                            <option value="{{ key }}"> {{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">邮件状态:</label>
                                <div class="col-sm-10">
                                    <select name="log_level" class="form-control" style="width:450px;">
                                        <option value="{{ log_level }}" selected="selected"> {{ log_level }}</option>
                                        {% for key,value in all_level.items %}
                                            <option value="{{ key }}"> {{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">短信状态:</label>
                                <div class="col-sm-10">
                                    <select name="log_level" class="form-control" style="width:450px;">
                                        <option value="{{ log_level }}" selected="selected"> {{ log_level }}</option>
                                        {% for key,value in all_level.items %}
                                            <option value="{{ key }}"> {{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">钉钉状态:</label>
                                <div class="col-sm-10">
                                    <select name="log_level" class="form-control" style="width:450px;">
                                        <option value="{{ log_level }}" selected="selected"> {{ log_level }}</option>
                                        {% for key,value in all_level.items %}
                                            <option value="{{ key }}"> {{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">电话状态:</label>
                                <div class="col-sm-10">
                                    <select name="log_level" class="form-control" style="width:450px;">
                                        <option value="{{ log_level }}" selected="selected"> {{ log_level }}</option>
                                        {% for key,value in all_level.items %}
                                            <option value="{{ key }}"> {{ key }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" onclick="checkSubmit()" class="btn btn-info pull-left"
                                    style="width: 120px"><b>保存(save)</b></button>
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <script>
        function checkSubmit() {
            if (!confirm("确定修改？")) {
                window.event.returnValue = false;
            }
        }
    </script>
    <script>
        function get_token() {
            $.post('/skconfig/token/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function (data) {
                document.getElementById("token").value = data;
            });
        }
    </script>
{% endblock %}
