{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>{{ tips }}</h4>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="dialog">
                <div class="box">
                    <form class="form-horizontal" action="{% url 'monitor_setuplist' %}" method="POST">
                        {% csrf_token %}
                        <div class="box-body">
                            <p><b>全局配置:</b></p>
                            <hr>
                            <p><b>功能开启:</b></p>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">微信功能:</label>
                                <div class="col-sm-10">
                                    <select name="weixin_status" class="form-control" style="width:350px;">
                                        {% ifequal weixin_status "On" %}
                                            <option value="On" selected="selected">On</option>
                                            <option value="Off">Off</option>
                                            {% else %}
                                            <option value="On">On</option>
                                            <option value="Off" selected="selected">Off</option>
                                        {% endifequal %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">邮件功能:</label>
                                <div class="col-sm-10">
                                    <select name="email_status" class="form-control" style="width:350px;">
                                        {% ifequal email_status "On" %}
                                            <option value="On" selected="selected">On</option>
                                            <option value="Off">Off</option>
                                            {% else %}
                                            <option value="On">On</option>
                                            <option value="Off" selected="selected">Off</option>
                                        {% endifequal %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">短信功能:</label>
                                <div class="col-sm-10">
                                    <select name="sms_status" class="form-control" style="width:350px;">
                                        {% ifequal sms_status "On" %}
                                            <option value="On" selected="selected">On</option>
                                            <option value="Off">Off</option>
                                            {% else %}
                                            <option value="On">On</option>
                                            <option value="Off" selected="selected">Off</option>
                                        {% endifequal %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">钉钉功能:</label>
                                <div class="col-sm-10">
                                    <select name="dd_status" class="form-control" style="width:350px;">
                                        {% ifequal dd_status "On" %}
                                            <option value="On" selected="selected">On</option>
                                            <option value="Off">Off</option>
                                            {% else %}
                                            <option value="On">On</option>
                                            <option value="Off" selected="selected">Off</option>
                                        {% endifequal %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="log" class="col-sm-2 control-label">电话功能:</label>
                                <div class="col-sm-10">
                                    <select name="tel_status" class="form-control" style="width:350px;">
                                        {% ifequal tel_status "On" %}
                                            <option value="On" selected="selected">On</option>
                                            <option value="Off">Off</option>
                                            {% else %}
                                            <option value="On">On</option>
                                            <option value="Off" selected="selected">Off</option>
                                        {% endifequal %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <p><b>微信接口:</b></p>
                            <div class="form-group">
                                <label for="database" class="col-sm-2 control-label">weixin_gurl:</label>

                                <div class="col-sm-10">
                                    <input type="text" value="{{ weixin_gurl }}" id="weixin_gurl" name="weixin_gurl"
                                           style="width:450px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weixin_purl" class="col-sm-2 control-label">weixin_purl:</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ weixin_purl }}" id="weixin_purl" name="weixin_purl"
                                           style="width:450px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weixin_cropid" class="col-sm-2 control-label">weixin_cropid:</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ weixin_cropid }}" id="weixin_cropid"
                                           name="weixin_cropid"
                                           style="width:450px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weixin_secret" class="col-sm-2 control-label">weixin_secret:</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ weixin_secret }}" id="weixin_purl" name="weixin_secret"
                                           style="width:450px;">
                                </div>
                            </div>
                            <hr>
                            <p><b>短信接口:</b></p>
                            <div class="form-group">
                                <label for="sms_api" class="col-sm-2 control-label">weixin_gurl:</label>

                                <div class="col-sm-10">
                                    <input type="text" value="{{ sms_api }}" id="weixin_gurl" name="sms_api"
                                           style="width:450px;">
                                </div>
                            </div>
                            <hr>
                            <p><b>灵犀云接口:</b></p>
                            <div class="form-group">
                                <label for="linkedsee_api" class="col-sm-2 control-label">linkedsee_api:</label>

                                <div class="col-sm-10">
                                    <input type="text" value="{{ linkedsee_api }}" id="weixin_gurl" name="linkedsee_api"
                                           style="width:450px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="szyw_token" class="col-sm-2 control-label">szyw_token:</label>

                                <div class="col-sm-10">
                                    <input type="text" value="{{ szyw_token }}" id="weixin_gurl" name="szyw_token"
                                           style="width:450px;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zhoujie_token" class="col-sm-2 control-label">zhoujie_token:</label>

                                <div class="col-sm-10">
                                    <input type="text" value="{{ zhoujie_token }}" id="weixin_gurl" name="zhoujie_token"
                                           style="width:450px;">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" onclick="checkSubmit()" class="btn btn-info pull-left"
                                    style="width: 120px"><b>保存</b></button>
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <script>
        function checkSubmit() {
            if (!confirm("确定修改？")) {
                window.event.returnValue = false;
            }
        }
    </script>
{% endblock %}
