{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
{% endblock %}
{% block content %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>{{ tips }}</h4>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id="dialog">
                <div class="box">
                    <form class="form-horizontal" action="{% url 'monitor_tokenadd' %}" method="POST">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label for="token" class="control-label"
                                       style="text-align:left; margin-left: 20px; width: 100px; display: inline-block;">*
                                    名称:</label>
                                <input type="text" value="" id="name" name="name" style="width:250px;">
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="token" class="control-label"
                                       style="text-align:left; margin-left: 20px; width: 100px; display: inline-block;">*
                                    Token:</label>
                                <input type="text" value="" id="token" name="token" style="width:250px;" readonly>
                                <span class="btn btn-default" id="config" onclick="get_token();"><b>点击新生成</b></span>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="descrition" class="control-label"
                                       style="text-align:left; margin-left: 20px; width: 100px; display: inline-block;">
                                    &nbsp;&nbsp;用途:</label>
                                <input type="text" value="" id="descrition" name="descrition" style="width:250px;">
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" style="width: 60pt" value="提交">&nbsp;
                            <a href="{% url 'monitor_tokenlist' %}">
                                <li style="width: 60pt" class="btn btn-primary" value="">返回</li>
                            </a><br>
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <script>
        function get_token() {
            $.post('/skconfig/token/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function (data) {
                document.getElementById("token").value = data;
            });
        }
    </script>
{% endblock %}
