{% extends 'base.html' %}
{% block self_head_css_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts-en.common.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

{% endblock %}
{% block content %}


  <div class="content-wrapper">
      <section class="content-header">    
      	
      </section>
          
      <section class="content">

		<div class="box">
            <div class="box-header">
				
           </div>
                <!-- /.box-header -->
    <div class="box-body">
          <div class="row">
           <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-cloud"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">激活工单总数</span>
                        <span class="info-box-number">{{ worklistnum }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">激活用户总数</span>
                        <span class="info-box-number">{{ usernumtotal }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-warning"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">工单执行总数</span>
                        <span class="info-box-number">{{ execworkenum }}</span>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-database"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">环境总数</span>

                        <span class="info-box-number">{{ envnum }}</span>

                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

          </div>
         
          
          <div class='row'>
            <div class="col-md-3 col-sm-6 col-xs-12">
            	<div id="echarth1" style="height: 300px;"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            	<div id="echarth2" style="height: 300px;"></div>
            </div>
           
            <div class="col-md-3 col-sm-6 col-xs-12">
            	<div id="echarth3" style="height: 300px;"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            	<div id="echarth4" style="height: 300px;"></div>
            </div>
          </div>

      <div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
         		<div id="echart1" style="height: 300px;"></div>
</div>
         </div>

          </div><!-- box-body -->
   

			<div class="box-footer">
 			 </div><!-- box-footer -->

</div><!-- box -->
     
     </section>
   </div>

<script>
var myChart = echarts.init(document.getElementById('echart1'),'light');

var option = {
	    title: {
	        text: '周执行统计'
	    },
	    backgroundColor: '#fff',
	    tooltip: {
	        trigger: 'axis'
	    },
	    legend: {

	        data:{{ envnamelist |safe }}
	    },
	    grid: {
	        left: '2%',
	        right: '3%',
	        bottom: '1%',
	        containLabel: true
	    },
	    toolbox: {
	        feature: {
	           
	        }
	    },
	    xAxis: {
	        type: 'category',
	        boundaryGap: false,
	        data: {{ datelist | safe }}
	    },
	    yAxis: {
	        type: 'value'
	    },
	    series: {{ envdictnumlist |safe }}
	};


myChart.setOption(option);	
</script>

<script>
  $(document).ready(function() {
	    $('.table').DataTable( {
	    	  "paging": false,
	        "lengthChange": true,
	        "searching": false,
	       
	        "info": true,
	        "autoWidth": false,
	        "aaSorting": [[0,'asc']],
	      
	        initComplete: function () {
	            var api = this.api();
	            api.columns().indexes().flatten().each( function ( i ) {
	                var column = api.column( i );
	             /*    var $span = $('<span class="addselect">▾</span>').appendTo($(column.header())) */
	            	if (i == 3 || i == 4){
	                var select = $('<select><option value="">All</option></select>')
	                    .appendTo( $(column.header()) )
	                    .on( 'change', function () {
	                        var val = $.fn.dataTable.util.escapeRegex(
	                            $(this).val()
	                        );
	                        column
	                            .search( val ? '^'+val+'$' : '', true, false )
	                            .draw();
	                    } );
	                column.data().unique().sort().each( function ( d, j ) {
	                    select.append( '<option value="'+d+'">'+d+'</option>' )
	                } );
	                
	            	} //end if
	            } );
	        }
	    } );
	} );
</script>

<script>
var myChart = echarts.init(document.getElementById('echarth1'),'light');
var option = {
		title: {
	        text: '工单统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	        data:{{ wonamelist | safe }}
	    },
	    series: [
	        {
	            name:'工单类型',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },
	            data:{{ wonamenumlist |safe }}
	        }
	    ]
	};
myChart.setOption(option);

</script>

<script>
var myChart = echarts.init(document.getElementById('echarth2'),'light');
var option = {
		title: {
	        text: '用户统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	       
            data:{{ usergrouplist |safe }}
	    },
	    series: [
	        {
	            name:'所属团队',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },
                data:{{ usergroupnumlist |safe }}
	        }
	    ]
	};
myChart.setOption(option);

</script>

<script>

var myChart = echarts.init(document.getElementById('echarth3'),'light');
var option = {
		title: {
	        text: '执行统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	        data:{{ execstatuslist|safe }}
            {#/* data: {{ eventclasslist |safe }}  #}
	    },
	    series: [
	        {
	            name:'工单执行状态',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },

                data:{{ execstatusnumlist | safe }}
	        }
	    ]
	};
myChart.setOption(option);

</script>

    <script>

var myChart = echarts.init(document.getElementById('echarth4'),'light');
var option = {
		title: {
	        text: '环境统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	        data:{{ envlist |safe }}
            {#/* data: {{ eventclasslist |safe }}  #}
	    },
	    series: [
	        {
	            name:'环境工单数',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },

                data:{{ envnumlist|safe }}
	        }
	    ]
	};
myChart.setOption(option);

</script>




{% endblock %}
