{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}

    <script src="/static/plugins/daterangepicker/moment.min.js"></script>
    <script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/static/plugins/daterangepicker/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/plugins/daterangepicker/daterangepicker.css">
    
  
    
    
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
       
            <div class="box">
                <div class="box-header">
                
                   <div class="row">
                   		<div class="col-md-8">
									
								</div>

								<div class="col-md-4">
								 	<form action="{% url 'WorkOrderFlow_foreground_history' %}" method="POST">
               				 			{% csrf_token %}
               				 			<input id="from_date" type="text" name="from_date"  hidden/>
												<input id="to_date"type="text" name="to_date"  hidden/>
										<div class="input-group">
											
											<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
											    <i class="fa fa-calendar"></i>&nbsp;
											    <span></span> <i class="fa fa-caret-down"></i>
											</div>
											<span class="input-group-btn">
												<input type="submit" class="btn btn-info" value="Search">
										   </span>
									</div>	
									<!-- /.input-group -->
								
								
							</form>
						</div>
					</div>
                  <!-- /.row -->
           </div>
                <!-- /.box-header -->
                <div class="box-body">
               
                  <div class = "nav-tabs-custom">
	                	<ul class="nav nav-tabs " role="tablist" id="ul_env">
							  {% if tpl_env %}
                      	 {% for k in tpl_env %}
							  			<li role="presentation"><a href="#{{ k }}" data-toggle="tab">{{ k }}</a></li>
								  {% endfor %}
							  {% endif %}
							</ul>
                	 </div>
                	 
	              <div class="tab-content">
			        
			        
			              
			      	{% if tpl_dic_obj %}
	                {% for k,v in tpl_dic_obj.items %}    
	                   <div class="tab-pane fade" id="{{ k }}">
                   
                     
                	 
                  <table class="table table-striped table-bordered">
                      <thead>
                      <tr>
                      <div>
					隐藏列: 
					{% for k2,v2 in tpl_dic_column.items %}
                             	        {% if k2 == k %}
                             	          {% for v3 in v2 %}
                             	             {% if v3 == 'finished_at' %}
                             	           		  <a class="toggle-vis" data-column="{{ forloop.counter0 }}">EndTime</a> ||
                             	             {% elif v3 == 'workorder_group' %}
                             	             	  <a class="toggle-vis" data-column="{{ forloop.counter0 }}">Category</a> ||
                             	             {% elif v3 == 'user_commit' %}
                             	             	  <a class="toggle-vis" data-column="{{ forloop.counter0 }}">Applicant</a> ||
                             	             {% else %}
	                     				      <a class="toggle-vis" data-column="{{ forloop.counter0 }}">{{ v3 }}</a> || 
	                     				     {% endif %}
	                     				      
	                     				  {% endfor %} 
	                     				  
		                               {% endif %}
		                               
                     				  {% endfor %}
					
					
				</div> 
                      </tr>
                        <tr>
                        
                                 
                             	      {% for k2,v2 in tpl_dic_column.items %}
                             	        {% if k2 == k %}
                             	          {% for v3 in v2 %}
	                     				   <th id={{ v3 }}>{{ v3 }}</th>
	                     				  {% endfor %} 
	                     				  
		                               {% endif %}
		                               
                     				  {% endfor %}
		                         
		                                    
                                    
                                    <th class="text-center">Others</th>                            
                                </tr>
                            </thead>
                            <tbody>
                             {% if v %}
				                                {% for v4 in v %}
                                    <tr class="even gradeA">
                                       
                                        <input type="hidden" name="u_name" value="{{ x.name }}">
			                                
				                                   {% for k5,v5 in v4.items %}
				                                      {% if k5 == 'finished_at' %}
				                                   		   <td>{{ v5|date:"Y-m-d H:i:s" }}</td>
				                                      {% else %}
				                                      	   <td>{{ v5 }}</td>
				                                      {% endif %} 
				                                   {% endfor %}
				                                   <td class="text-center" id="features" data-editable='false'>
                                        <a href="#"><li class="btn btn-sm btn-info" onclick="return tanchu_detail(this.value)" value="{{ x.id }}" id="detail">details</li></a>
                                       </td>
				                                      
                                        
                                    </tr>
                                {% endfor %}
				                                
			                                {% else %}
			                                    <p>No Item are available.</p>
			                               {% endif %} 

                            </tbody>
                  </table>
                  
                   </div>
                   {% endfor %}
              {% endif %}
                    </div>
						<!-- /.tab-content -->

                </div>
            </div>
        

    </section>
        <!-- /.content -->
</div>
<input id="handle_status" value="" hidden="hidden">

<script>
function checkAll(sender, checkClass) {
    var checkItems = document.getElementsByTagName('input');
    for (var i = 0; i < checkItems.length; i++) {
        var checkItem = checkItems[i];
        if (checkItem.type === 'checkbox' && checkItem.className === 'item1') {
            checkItem.checked = sender.checked;
        }
    }
}
</script>


<script>
  $(document).ready(function() {
	    var table = $('.table').DataTable( {
	    	"paging": false,
	        "lengthChange": true,
	        "searching": true,
	        "scrollY": "500px",
	        "info": true,
	        "autoWidth": false,
	        "aaSorting": [[0,'desc']],
	        "columnDefs": [
	        	{"targets": 4,"title": "Category"},
	        	{"targets": 5,"title": "Applicant"},
	        	{"targets": 6,"title": "EndTime"},
	        
	            {
	            	"targets": 7,
	            	"title": "Status",
	                "render": function ( data, type, row ) {
	                	switch(data){
	                		case '0':
	                			 return data = '<span class="label label-primary">' + 'Submitted' + '</span>';break
	                		case '1':
	                			 return data = '<span class="label label-primary">' + 'L1 Allowed' + '</span>';break
	                		case '2':
	                		case '6':
	                		case '8':	
	                			 return data = '<span class="label label-warning">' + 'L1 Denied' + '</span>';break
	                		case '3':
	                			 return data = '<span class="label label-success">' + 'OK' + '</span>';break
	                		case '4':
	                			 return data = '<span class="label label-danger">' + 'Failed' + '</span>';break
	                		case '5':
	                			 return data = '<span class="label label-primary">' + 'L2 Allowed' + '</span>';break
	                		case '7':
	                			 return data = '<span class="label label-primary">' + 'L3 Allowed' + '</span>';break
	                		case '9':
	                			 return data = '<span class="label label-warning">' + 'Revoked' + '</span>';break
	                		default:
	                			 return data = '<span class="label label-primary">' + data + '</span>';break
	                	}
	                }
	            },
	            
	      
	        ],
	      
	        initComplete: function () {
	            var api = this.api();
	            api.columns().indexes().flatten().each( function ( i ) {
	                var column = api.column( i );
	             /*    var $span = $('<span class="addselect">▾</span>').appendTo($(column.header())) */
	            	if (i == 4){
	                var select = $('<select><option value="">All</option></select>')
	                    .appendTo( $(column.header()) )
	                    .on( 'change', function () {
	                        var val = $.fn.dataTable.util.escapeRegex(
	                            $(this).val()
	                        );
	                        column
	                            .search( val ? '^'+val+'$' : '', true, false )
	                            .draw();
	                    } );
	                column.data().unique().sort().each( function ( d, j ) {
	                    select.append( '<option value="'+d+'">'+d+'</option>' )
	                } );
	                
	            	} //end if
	            } );
	        }
	    } );
	    
	    $('a.toggle-vis').on( 'click', function (e) {
	        e.preventDefault();
	 
	        // Get the column API object
	        var column = table.column( $(this).attr('data-column') );
	 
	        // Toggle the visibility
	        column.visible( ! column.visible() );
	    } );
	    
	} );
</script>
<script>
function checkSubmit() {
    if (!confirm("确定删除？")) {
        window.event.returnValue = false;
    }
}
</script>
<script>
function tanchu_detail(n){
    layer.open({
    type: 2,
    title: '修改信息',
    closeBtn: 1,
    area: ['700px', '550px'],
    shadeClose: true, //点击遮罩关闭
/*     content: ['/skworkorders/project_edit?id=' + n,], */
    content: ['/skworkorders/WorkOrderFlow/history/detail/foreground/' + n,],
    
    end:function(){
            var handle_status = $("#handle_status").val();
            if ( handle_status == '1' ) {
                layer.msg('发布成功！',{
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    location.reload();
                    
                });
            } else if ( handle_status == '2' ) {
                layer.msg('发布失败！',{
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            }
        }
  });
}
</script>




<script>
function tanchu_release(n){
    layer.open({
    type: 2,
    title: '发布确认',
    closeBtn: 1,
    area: ['700px', '550px'],
    shadeClose: true, //点击遮罩关闭
/*     content: ['/skworkorders/project_edit?id=' + n,], */
    content: ['/skworkorders/TaskStatus/release/' + n,],
    
    end:function(){
            var handle_status = $("#handle_status").val();
            if ( handle_status == '1' ) {
                layer.msg('保存成功！',{
                    icon: 1,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    location.reload();
                    
                });
            } else if ( handle_status == '2' ) {
                layer.msg('修改失败！',{
                    icon: 2,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                },function(){
                    history.go(0);
                });
            }
        }
  });
}
</script>
<script type='text/javascript'>
$('#ul_env a:first').tab('show')
</script>

<script type="text/javascript">
$(function() {
	
	
	if ( sessionStorage.getItem("skworkorder_history_from_date") ) {
		var start = sessionStorage.getItem("skworkorder_history_from_date");
		var start = moment(start,'YYYY-MM-DD HH:mm:ss');
		
		var end = sessionStorage.getItem("skworkorder_history_to_date"); 
		var end = moment(end,'YYYY-MM-DD HH:mm:ss');
		
	}
	else {
		var start = moment().subtract(30, 'days');
	   var end = moment();
		
	}
	  
	 
    

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        $('#from_date').attr("value",start.format('YYYY-MM-DD HH:mm:ss'));
        $('#to_date').attr("value",end.format('YYYY-MM-DD HH:mm:ss'));
        sessionStorage.setItem("skworkorder_history_from_date", start.format('YYYY-MM-DD HH:mm:ss'));
        sessionStorage.setItem("skworkorder_history_to_date", end.format('YYYY-MM-DD HH:mm:ss'));
    }

    $('#reportrange').daterangepicker({
    	  opens: "left",
        timePicker: true,
        timePicker24Hour: true,
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>

{% endblock %}
