{% load mytags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
</head>

<body>
<div class="content-wrapper">


    <section class="content">

        <div id="dialog">
            <div class="box">
                <form class="form-horizontal" action="{% url 'app_edit' ids %}" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">APP名称:</label>
                            <div class="col-sm-10">
                                {{ af.name }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sa" class="col-sm-2 control-label">负责人:</label>
                            <div class="col-sm-10">
                                {{ af.sa }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="env" class="col-sm-2 control-label">运行环境:</label>
                            <div class="col-sm-10">
                                {{ af.env }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ywgroup" class="col-sm-2 control-label">业务分组:</label>
                            <div class="col-sm-10">
                                {{ af.ywgroup }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">状态:</label>
                            <div class="col-sm-10">
                                {{ af.status }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="belong_ip" class="col-sm-2 control-label">所属主机:</label>
                            <div class="col-sm-10">
                                {{ af.belong_ip }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kafka" class="col-sm-2 control-label">kafka列表:</label>
                            <div class="col-sm-10">
                                {{ af.kafka }}
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="web_port" class="col-sm-2 control-label">Web端口号:</label>
                            <div class="col-sm-10">
                                {{ af.web_port }}
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="dubbo_port" class="col-sm-2 control-label">Dubbo端口号:</label>
                            <div class="col-sm-10">
                                {{ af.dubbo_port }}
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-left" style="width: 120px"><b>保存</b></button>
                    </div>
                    <!-- /.box-footer -->
                </form>

            </div>
        </div>

    </section>

</div>
{#回传参数至父层#}
<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);
    var success = {{ status }};
    if (success == '1') {
        parent.$("#handle_status").val('1');
        parent.layer.close(index);
    } else if (success == '2') {
        parent.$("#handle_status").val('2');
        parent.layer.close(index);
    }
</script>
</body>
</html>