{% load mytags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
</head>

<body>
<div class="content-wrapper">

    <section class="content">
        <div id="dialog">
            <div class="box">
                <form class="form-horizontal" action="#" method="POST" id="form">
                    {% csrf_token %}
                    <div class="box-header">
                        <div class="col-sm-2" style="padding-left: 0">
                            <label>
                                <select name="dbsource" class="form-control m-b input-sm" onchange="change_info()">
                                    <option value="">请选择数据源</option>
                                    {% for i in dbsource_info %}
                                    {% ifequal i.id|int2str dbsource %}
                                    <option value="{{ i.id }}" selected> {{ i.name|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.id }}"> {{ i.name|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <hr size="5">

                        <div class="col-sm-5" style="padding-left: 0px">
                            <b>选择导入类型:&nbsp;&nbsp; </b>
                            <label>
                                <select name="idc" class="form-control m-b input-sm">
                                    <option value="">选择机房</option>
                                    {% for i in source_idc_info %}
                                    {% ifequal i.0 idc %}
                                    <option value="{{ i.0 }}" selected> {{ i.0|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.0 }}"> {{ i.0|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>

                            <label>
                                <select name="hosttype" class="form-control m-b input-sm">
                                    <option value="">选择主机分组</option>
                                    {% for i in source_group_info %}
                                    {% ifequal i.0 hosttype %}
                                    <option value="{{ i.0 }}" selected> {{ i.0|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.0 }}"> {{ i.0|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>

                            <label>
                                <select name="hostgroup" class="form-control m-b input-sm">
                                    <option value="">选择主机类型</option>
                                    {% for i in source_type_info %}
                                    {% ifequal i.0|int2str hostgroup %}
                                    <option value="{{ i.0 }}" selected> {{ i.1|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.0 }}"> {{ i.1|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <hr size="5">

                        <div class="col-sm-5" style="padding-left: 0px">
                            <b>导入本地类型:&nbsp;&nbsp;</b>
                            <label>
                                <select name="l_idc" class="form-control m-b input-sm">
                                    <option value="">选择机房</option>
                                    {% for i in local_idc_info %}
                                    {% ifequal i.name l_idc %}
                                    <option value="{{ i.name }}" selected> {{ i.name|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.name }}"> {{ i.name|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>

                            <label>
                                <select name="l_type" class="form-control m-b input-sm">
                                    <option value="">选择主机分组</option>
                                    {% for i in local_type_info %}
                                    {% ifequal i.name l_type %}
                                    <option value="{{ i.name }}" selected> {{ i.name|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.name }}"> {{ i.name|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>

                            <label>
                                <select name="l_hostgroup" class="form-control m-b input-sm">
                                    <option value="">选择主机类型</option>
                                    {% for i in local_group_info %}
                                    {% ifequal i.name l_hostgroup %}
                                    <option value="{{ i.name }}" selected> {{ i.name|slice:":20" }}</option>
                                    {% else %}
                                    <option value="{{ i.name }}"> {{ i.name|slice:":20" }}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-left" style="width: 120px"><b>开始导入数据</b></button>
                    </div>
                    <!-- /.box-footer -->
                </form>

            </div>
        </div>

    </section>

</div>
{#回传参数至父层#}
<script>
    function change_info() {
        var args = $("#form").serialize();
        window.location = "{% url 'asset_import' %}?" + args
    }
</script>


<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);
    var success = {{ status }};
    if (success == '1') {
        parent.$("#handle_status").val('1');
        parent.layer.close(index);
    } else if (success == '2') {
        parent.$("#handle_status").val('2');
        parent.layer.close(index);
    }
</script>
</body>
</html>