<header class="main-header">

    <!-- Logo -->
    <a href="{% url 'index' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>SK</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lo"><b>Skipper</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav second-menu">
                <li id="inventory_manage" class="dropdown" style="font-size: medium;display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <b>清单列表</b> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="asset" style="font-size: medium;display: none"><a href="{% url 'cmdb' %}"><b>Host清单</b></a></li>
                        <li id="app_list" style="font-size: medium;display: none"><a href="{% url 'app_list' %}"><b>App清单</b></a></li>
                        <li id="kafka_list" style="font-size: medium;display: none"><a href="{% url 'kafka_list' %}"><b>Kafka清单</b></a></li>
                        <li id="url_list" style="font-size: medium;display: none"><a href="{% url 'url_list' %}"><b>域名清单</b></a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li id="host_manage" class="dropdown" style="font-size: medium;display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <b>主机管理</b> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="font-size: medium;display: none" id="sa"><a href="{% url 'opssa_list' %}"><b>运维负责人</b></a></li>
                        <li style="font-size: medium;display: none" id="idc_list"><a href="{% url 'idc' %}"><b>机房列表</b></a></li>
                        <li style="font-size: medium;display: none" id="env"><a href="{% url 'env_list' %}"><b>运行环境</b></a></li>
                        <li style="font-size: medium;display: none" id="ywgroup"><a href="{% url 'ywgroup_list' %}"><b>业务分组</b></a></li>
                        <li style="font-size: medium;display: none" id="middletype"><a href="{% url 'middletype_list' %}"><b>主机分组</b></a></li>
                        <li style="font-size: medium;display: none" id="hostgroup"><a href="{% url 'hostgroup_list' %}"><b>主机类型</b></a></li>
                    </ul>
                </li>
                <li class="divider"></li>

                <li id="third_manage" class="dropdown" style="font-size: medium;display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <b>第三方管理</b> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="font-size: medium;display: none" id="whileip_list"><a href="{% url 'whileip_list' %}"><b>白名单列表</b></a></li>
                    </ul>
                </li>
                <li class="divider"></li>

                <li id="db_manage" class="dropdown" style="font-size: medium;display: none">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <b>数据同步</b> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="font-size: medium;display: none" id="dbsource_list"><a href="{% url 'dbsource_list' %}"><b>数据源列表</b></a></li>
                    </ul>
                </li>
                <li class="divider"></li>

                <li id="other" style="font-size: medium;display: none"><a target="_blank" href="{% url 'other' %}"><b>其他分类</b></a></li>
                <li class="divider"></li>
          </ul>
        </div>
      <!-- Navbar Right Menu -->
      {% include 'navbar-custom-menu.html' %}
    </nav>
  </header>