<header class="main-header">

    <!-- Logo -->
    <!--<a href="{% url 'index' %}" class="logo">-->
    <a href="{% url 'skaccounts/login/?next=/skyw/list' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>S</b>K</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Skipper</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        {% include 'navbar-custom-menu.html' %}
    </nav>

</header>
