<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <div style="height: 60px">
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" id="sidebar-menu">
            <li id="skyw" hidden="hidden"><a href="{% url 'list' %}"><i class="fa fa-link"></i> <span>运维导航</span></a></li>
            <li id="skcmdb" hidden="hidden"><a href="{% url 'cmdb' %}"><i class="fa fa-database"></i> <span>资产管理</span></a></li>
            <li id="sktask" hidden="hidden"><a href="{% url 'task' %}"><i class="fa fa-cogs"></i> <span>运维任务</span></a></li>
            <li id="skworkorders" hidden="hidden"><a href="{% url 'WorkOrderFlow_index' %}"><i class="fa fa-cloud"></i><span>工单系统</span></a></li>
            <li id="skdeploy" hidden="hidden"><a href="{% url 'TaskStatus_index' %}"><i class="fa fa-file-code-o"></i><span>版本迭代</span></a></li>
            <li id="skrecord" hidden="hidden"><a href="{% url 'faq' %}"><i class="fa fa-book"></i> <span>登记管理</span></a></li>
            <li id="skrpt" hidden="hidden"><a href="{% url 'rpt' %}"><i class="fa fa fa-line-chart"></i> <span>报表平台</span></a></li>
            <li id="skapi" hidden="hidden"><a href="{% url 'monitor_index' %}"><i class="fa fa-files-o"></i> <span>监控平台</span></a></li>
            <li id="skaccounts" hidden="hidden"><a href="{% url 'user_list' %}"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
            <li id="skconfig" hidden="hidden"><a href="{% url 'config' %}"><i class="fa fa fa-cog"></i> <span>系统配置</span></a></li>
        </ul>
    </section>
</aside>

<script>
    function in_array(str,arr) {
        for(i=0;i<arr.length;i++){
            v = arr[i];
            if (str==v){
                return true;
            }
        }
        return false;
    }
    $(document).ready(function () {
        var data = '{{ url_permission_list|safe }}';
        var permission_flag = '{{ permission_flag|safe }}';
        var url_arr = jQuery.parseJSON(data);
        $("li").each(function(){
            var nav_id =  $(this).attr("id");
            if(permission_flag=='True' || in_array(nav_id,url_arr)){
                $(this).show();
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        var url = window.location.pathname;
        $("[href='" + url + "']").parent().addClass('bg-primary').siblings().removeClass('bg-primary');
        $("[href='" + url + "']").parents("li.dropdown").addClass('bg-primary').siblings().removeClass('bg-primary');
        url = url.split("/");
        var sidebar_url = url[1];
        $("ul[id='sidebar-menu']  a[href*='" + sidebar_url + "']").parent().addClass('bg-primary').siblings().removeClass('bg-primary');
    });
</script>


