{% extends 'base.html' %}
{% block self_head_css_js %}
<script src="/static/layer/layer.js"></script>
    <link rel="stylesheet" href="/static/plugins/select2/select2.min.css">
    <script src="/static/plugins/select2/select2.full.min.js"></script>
   
{% endblock %}
{% block content %}

<style>
/* Custom Styles */

    ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 3px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }

    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
</style>


<body data-spy="scroll" data-target="#myScrollspy">



		
	

<div class="content-wrapper">
		    <!-- Content Header (Page header) -->
		    <section class="content-header">
		    </section>
		
									
		    <!-- Main content -->
		<section class="content">   
		<div class="row">
		  <div class="col-xs-11">
			<ul id="hostsFileTab" class="nav nav-pills nav-justified" role="tablist">
			 {% for h1 in list_hostsFile %}
				<li role="presentation"><a href="#{{h1}}" data-toggle="tab">{{h1}}</a></li>
			 {% endfor %}	
			</ul>
			<div style="height:2px;border-bottom:3px #3c8dbc solid;"></div> 
			</div>
			
			<div class="col-xs-1" ></div>
			
		</div>
		
 <div id="hostsFileTabContent" class="tab-content">
  {% for h2,v2 in dic_dic_groups.items %}
	<div class="tab-pane fade" id="{{h2}}">
		    
		<div class="row">
		
		  <div class="panel-group col-xs-11" id="accordion" role="tablist" aria-multiselectable="ture">
		
		
		  	{% for key in v2 %}
		
				  	  <div class="panel panel-default">
				  	    <div class="panel-heading" role="tab" id="{{key.0|first}}">
				  	      <h4 class="panel-title">
				  	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{key.0}}" aria-expanded="ture" aria-controls="collapseOne">
				  	              {{key.0}}
				  	        </a>
				  	      </h4>
				  	    </div>
				  	    <div id={{key.0}} class="panel-collapse collapse  " role="tabpanel" aria-labelledby="headingOne">
				  	      <div class="panel-body">
				  	      			{% for v in key.1 %}
								  	      			{{v}}</br>
								  	   {% endfor %}
								  	      		 </div>
								  	     	    </div>
				  	      			
				  	     
				  	  </div> 
				  	
		  	{% endfor %}
		 </div>
		  	
		  
   		  	       <div class="col-xs-1" id="myScrollspy">
		  	        {% for h3,v3 in dic_list_key.items %}
		            <ul class="nav nav-tabs nav-stacked" tab="{{h3}}" data-spy="affix" data-offset-top="125" hidden="hidden">
		            
		            <li><a class="active" href="#">快速检索</a></li>		            
		            		{% for kv in v3 %}
		                <li><a href="#{{kv}}">{{kv}}</a></li>
		                	{% endfor %}		           		
		            </ul>
		             {% endfor %}
		        </div>		
		 	</div>                      	   			              	   	
	 </div>    		 
   {% endfor %} 
 
 </div>  
 </section>
		 <!-- /.content -->   
</div>     
</body>

<script type='text/javascript'>
$("#hostsFileTab a").click(function(){
	var showtab=$(this).text();
	$("#myScrollspy ul[tab='"+showtab+"']").show().siblings().hide();
});

</script>

<script type='text/javascript'>
$('#hostsFileTab a:first').tab('show')
</script>

<script type='text/javascript'>
window.onload=show_index1;
function show_index1(){
	var showtab1=$("#hostsFileTab a[aria-expanded]").text();
	
	$("#myScrollspy ul[tab='"+showtab1+"']").show();
};
</script>



<script type='text/javascript'>

</script>
{% endblock %}
